

:root {
  --color-blue-medium: #c7a652;
  --color-purple: #632ce7;
  --color-gray: #c45a5a;
  --color-gray-medium: #a5bed6;
  --color-yellow: #fac32c;
}

/*-------ESTILOS GENERALES-----------*/

h3{
  display: flex;
  background: #e9ed6d5d;
  border-radius: 35px;
  font-family:Arial, Helvetica, sans-serif;
  justify-content: center; 
}

/*------SECTION-------*/
/*------NAV---
.navbar-brand > img {
  width: 95px;
  border-radius: 40px;
  
}   --------*/

.container > .row{
margin-bottom: 2rem;
background-color: #e6cdeffc;
border-radius: 20px;

}
.container img{
border-radius: 20em;
  
}
.navbar-main .active{
  text-decoration: underline wavy var(--color-purple);
  text-underline-offset: 9px;
}
a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
p{
  font-size: 1.2rem;
  font-weight: 500;
}  
  
.header-min{
 min-height: 100vh;
}
.icon-service{
  --box-size: 70px;
  width: var(--box-size);
  height: var(--box-size);
  padding: 10px;
}
.portfolio-item > img{
  transition: 0.4s transform;
}
.portfolio-item:hover > img{
  transform: scale(0.96);
}

/*-------CLIENTE----------*/
.bg-purple{
background-color: rgba(131.87.235 / 0.3);
filter: opacity(0.95);
}
.icons-social-networks > a :hover,
.sec-clients > a:hover{
  filter: opacity(.5);
}
.icons-social-networks{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  margin:0 0 0 30px;
}


@media screen and (max-width: 376px){
  .body{
    margin-top: 4rem;
  }
  .header-main {
    height: initial;
  }
  .photo-frame{
    font-size: 11px;
  }
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(130, 135, 116);
  text-align: center;
  height: 100px;
  
}
footer a{
  color: black;
  font-weight:bold;
}